/*
  Stylesheet for: Paul Ramnora Web - [Amazon Amplify: 001]

  Created: Tue 13 Sep 2022 17:21 PM GMT
  Updated: Wed 14 Sep 2022 01:12 AM GMT
*/

/* reset */

*{
 padding:0px;
 margin:0px;
}

/* links */

a:link{color:blue;text-decoration:none;}
a:active{color:yellow;}
a:hover{color:red;text-decoration:underline;}
a:visited{color:purple;}

/* html */

html{background-color:black;}

/* body */

body{background-color:white;color:black;font-family:arial,verdana,sans-serif;line-height:2;}

/*header */

header{text-align:center;padding:10px;background-color:rgba(255,255,0,1.0);}
h1{padding:10px;background-color:rgba(0,0,0,0.1);color:white;}
.clsH1TitleTextWeb{text-shadow:2px 2px red;font-style:italic;font-size:2em;}

/* main */

main{padding:1cm;}
main p{text-indent:1cm;} 
h2{padding:10px;}

.clsNote{border:1px dashed black;background-color:rgba(255,0,0,0.1);text-align:center;}

/* footer */

footer{text-align:center;background-color:rgba(255,0,0,0.1);padding:10px;}
footer p{padding:10px;background-color:rgba(255,255,125,0.3);}
.clsCopyrightMessage{padding:3px;font-weight:bold;background-color:black;color:white;border-radius:10px;} 
.clsDateTimeStamp{background-color:white;color:red;font-style:italic;} 
