/*
  Stylesheet for: Paul Ramnora Web - [Amazon Amplify: 001]

  Created: 13 Sep 2022 17:21 PM GMT
  Updated: 13 Sep 2022 18:04 PM GMT
*/

/* links */

a:link{color:blue;text-decoration:none;}
a:active{color:yellow;}
a:hover{color:red;text-decoration:underline;}
a:visited{color:purple;}

/* html */

html{margin:1cm;}

/* body */

body{font-family:arial,verdana,sans-serif;}

/*header */

header{text-align:center;padding:10px;background-color:rgba(255,255,0,1.0);}
h1{background-color:rgba(0,0,0,0.1);color:white;}
.clsH1TitleTextWeb{text-shadow:2px 2px red;font-style:italic;}

/* main */

main{}
main p{text-indent:1cm;} 
h2{font-style:italic;}

/* footer */

footer{text-align:center;background-color:rgba(255,255,0,0.1);padding:10px;}
footer p{background-color:rgba(255,255,125,0.1);}
.clsCopyrightMessage{font-weight:bold;background-color:black;color:white;border-radius:10px;} 
.clsDateTimeStamp{color:red;font-style:italic;} 
